
<div class='soundcloud'>
<iframe style="border: 0; width: 400px; height: 406px;" src="https://bandcamp.com/EmbeddedPlayer/album=851782097/size=large/bgcol=ffffff/linkcol=333333/artwork=small/transparent=true/" seamless><a href="http://julesbelmont.bandcamp.com/album/archival">Archival by Jules Belmont</a></iframe>
</div>


<div class='youtube'>
	<iframe width="853" height="480" src="//www.youtube.com/embed/AKavdoJdxvo" frameborder="0" allowfullscreen></iframe>
	<iframe width="853" height="480" src="//www.youtube.com/embed/8yP6vht15cc" frameborder="0" allowfullscreen></iframe>
	<iframe width="853" height="480" src="//www.youtube.com/embed/jfmAMcd_bVg" frameborder="0" allowfullscreen></iframe>
	<h2><a href='http://youtube.com/julesbelmont1/videos'>Visit my Youtube channel &rsaquo;</a></h2>
</div>


