<div class='soundcloud'>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/121317838&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/121317333&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
	<h2><a href='http://soundcloud.com/julesbelmont'>Visit my Soundcloud &rsaquo;</a></h2>
</div>
<div class='youtube'>
	<iframe width="853" height="480" src="//www.youtube.com/embed/G1wafDx_TUc" frameborder="0" allowfullscreen></iframe>
	<iframe width="853" height="480" src="//www.youtube.com/embed/5gw-OQFj_Hg" frameborder="0" allowfullscreen></iframe>
	<iframe width="853" height="480" src="//www.youtube.com/embed/2uH8BTf8KRk" frameborder="0" allowfullscreen></iframe>
	<iframe width="853" height="480" src="//www.youtube.com/embed/INmM_coHLsA" frameborder="0" allowfullscreen></iframe>	
	<h2><a href='http://youtube.com/julesbelmont1/videos'>Visit my Youtube channel &rsaquo;</a></h2>
</div>
